/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#871a15+0,b42420+44,b42420+59,8f1b17+100 */
%gradient-1 {
  background: #871a15;
  background: -moz-linear-gradient(
    45deg,
    #871a15 0%,
    #b42420 44%,
    #b42420 59%,
    #8f1b17 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #871a15 0%,
    #b42420 44%,
    #b42420 59%,
    #8f1b17 100%
  );
  background: linear-gradient(
    45deg,
    #871a15 0%,
    #b42420 44%,
    #b42420 59%,
    #8f1b17 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#871a15', endColorstr='#8f1b17',GradientType=1 );
}
