/*=============================================
=            #Text Utilities            =
=============================================*/

.u-ttu,
.u-text-uppercase {
  text-transform: uppercase;
}

/*----------  #Weights  ----------*/

.u-t-100,
.u-text-100 {
  font-weight: 100;
}

.u-t-300,
.u-text-300 {
  font-weight: 300;
}

/*----------  #Alignment  ----------*/
.u-align-center {
  text-align: center;
}

/*=====  End of #Text Utilities  ======*/
