.woocommerce .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-cart table.cart td.actions .coupon .input-text {
  border: 2px solid #000 !important;
  background-color: #fff !important;
  color: #000 !important;
}
