/*=============================================
=            #Headings             =
=============================================*/

/*----------  Modern Tribe Event Calendar  ----------*/

.tribe-events-before-html h1 {
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: bold;
}

/*=====  End of #Headings  ======*/
