/*=============================================
=            #Site Header (large screens)            =
=============================================*/

.c-siteHeader {
  display: none;
  @media screen and (min-width: 1366px) {
    display: grid;
  }
  grid-template-columns: 1fr 356px minmax(884px, auto) 1fr;
  grid-template-rows: 50px auto 50px;

  /**
   *
   * Use psuedo classes to extend the bg color
   * of the grid cell
   *
   */
  &::before,
  &::after {
    content: '';
    background-color: #000;
    grid-row: 2;
  }

  &::before {
    grid-column: 1 / 4;
  }

  &::after {
    grid-column: 4;
  }
}

.c-siteHeader__logo {
  grid-column: 2 / span 1;
  grid-row: 1 / 3;
  width: 355px;
  height: 164px;
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %gradient-1;
  img {
    display: block;
    width: 266px;
    height: 353px;
  }
}

.c-siteHeader__secondary {
  grid-column: 3;
  grid-row: 1;
  color: #000;
  align-self: center;
}

.c-siteHeader__primary {
  grid-column: 3;
  grid-row: 2 / 3;
  align-self: center;
  background-color: #000;
  color: #fff;
}

/*----------  General Nav styles  ----------*/

.c-auxMenu__list,
.c-primaryMenu__list,
.c-categoryMenu__list {
  display: flex;
  align-items: center;

  @extend %o-list-reset;
}

.c-menu-item a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

/*----------  Secondary (Auxilliary) Menu  ----------*/

.c-auxMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-auxMenu__list {
  .c-menu-item a {
    padding: 12px 24px;
    font-size: 1em;
    color: currentColor;
  }
}

.c-siteHeader__right .c-btn--action {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.c-btn--cart .woocommerce-Price-amount,
.c-btn--cart .woocommerce-Cart-amount {
  font-size: 14px;
  font-weight: bold;
}

/*----------  Primary Menu  ----------*/

.c-primaryMenu__list {
  .c-menu-item a {
    padding: 43px 24px;
    font-size: 1.5em;
    color: currentColor;
  }

  .c-current-menu-item {
    border-bottom: 4px solid #fff;
  }

  .c-menu-item-has-children {
    position: relative;
    &:hover {
      .c-menu-item__sub-menu {
        display: block;
      }
    }
  }
}

/* Primary Menu Sub Menu items */

.c-primaryMenu__list .c-menu-item__sub-menu {
  position: absolute;
  z-index: 9999;
  min-width: 300px;
  display: none;

  .c-menu-item__link {
    padding: 24px;
  }
}

/*----------  Category Menu  ----------*/

.c-categoryMenu__list {
  justify-content: center;

  .c-menu-item a {
    padding: 12px 24px;
    color: #000 !important;
  }
}

/*----------  Locations Menu  ----------*/

.c-soleraLocations {
  grid-column: 1 / -1;
  grid-row: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  @extend %shadow-1;
}

.c-soleraLocation a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.c-soleraLocation--north {
  padding-right: 1em;
  border-right: 1px solid lightgrey;
}

.c-soleraLocation--south {
  padding-left: 1em;
}
