.woocommerce-products-compare-content {
  table {
    th,
    td,
    tfoot th,
    tfoot td,
    thead th,
    thead td {
      border: 5px solid #fff;
    }

    thead th,
    tbody th {
      border-bottom-color: #000;
      border-right-color: #fff;
    }
  }

  .header-title,
  th {
    padding-left: 2rem !important;
    vertical-align: top;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;

    h3 {
      color: #fff;
    }
  }

  .product {
    background-color: #f6f6f6;
  }
}
