.related.products {
  background-color: #fff;
}

.related.products h2 {
  text-align: center;
  font-weight: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

/** Divi Overrides **/
.et_pb_gutters3.et_left_sidebar.woocommerce-page
  #main-content
  ul.products
  li.product,
.et_pb_gutters3.et_right_sidebar.woocommerce-page
  #main-content
  ul.products
  li.product {
  width: 100%;
}

.woocommerce div.product form.cart .button {
  float: none;
}
