.single-product .product {
  background-color: #f6f6f6;
  color: #000;
}

.product_title {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.woocommerce-Price-amount {
  font-weight: bold;
  color: var(--solera-brand);
}

.single-product .price .woocommerce-Price-amount {
  font-size: 35px;
}

.woocommerce-product-gallery {
  background-color: #fff;
}
