/*=============================================
=            Product Search            =
=============================================*/
.widget_search form input[type='submit'],
.widget_search form button[type='submit'],
.widget_product_search form input[type='submit'],
.widget_product_search form button[type='submit'] {
  @include solera-hidden-visually();
}

.c-siteSearch {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.c-siteSearch .widget_product_search {
  margin-top: 200px;
  margin-right: 24px;
}

.c-siteSearch .widget_product_search .search-field {
  width: 100%;
  min-height: 90px;
  padding: 12px 24px;
  border: 0;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.125);
  font-size: 24px;
  background: #000;
  color: #fff;
}

#btn-close-search {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
